<header class="w-full {{#if hover }} z-50 absolute top-0 left-0 {{else}} relative {{/if}}">
	<div class="container flex items-center justify-between py-4">
		<img src="/assets/img/logo.png" class="w-40">
		<nav class="space-x-8">
			<a href="" class="text-3xl font-bold text-white uppercase font-heading">About</a>
			<a href="" class="text-3xl font-bold text-white uppercase font-heading">CLUSTER</a>
			<a href="" class="text-3xl font-bold text-white uppercase font-heading">DIGITAL  ATHLETE</a>
			<a href="" class="text-3xl font-bold text-white uppercase font-heading">COMMUNITY</a>
			<a href="" class="text-3xl font-bold text-white uppercase font-heading">RESOURCES</a>
		</nav>
	</div>
</header>
