<div class="relative w-full py-32 overflow-hidden bg-black pt-44">
	<div class="container relative z-20 grid grid-cols-2 gap-20">
		<div class="flex flex-col space-y-10">
			<h1 class="font-bold text-white text-8xl font-heading">WE ARE NOT SPECTATORS</h1>
			<p class="text-4xl font-bold text-white uppercase font-heading">PROMOTING IRELAND AS A <span class="text-green">WORLD LEADING</span> DESTINATION FOR  <span class="text-green">SPORTS INNOVATION</span> AND <span class="text-green">TECHNOLOGY</span></p>
			<div class="flex space-x-6">
				{{> button text="Find out more" }}
				{{> button text="Contact us" }}
			</div>
		</div>
	</div>
	<img src="https://images.pexels.com/photos/1415810/pexels-photo-1415810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="absolute inset-0 z-0 object-cover w-full h-full opacity-50" draggable="false" alt="">
</div>
