<section>
    <div class="w-full pt-16 pb-24 bg-offset">
        <div class="flex flex-col lg:flex-row justify-content">
            <div class="flex items-center mx-24 lg:w-1/4">
                <div class="relative">
                    {{> title text="We Are Not <br> Spectators" br=true}}
                    <p class="py-8 text-lg"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veniam temporibus sunt tempora. </p>
                    {{> button text="Find out more" }}
                </div>
            </div>

            <div class="w-full lg:w-3/4 flex">
                <iframe class="w-full lg:w-9/12 aspect-video rounded-3xl m-10 lg:m-0" src="https://www.youtube.com/embed/zuKZQNUYSf8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
