<section>
    <div class="w-full pt-16">
        <div class="flex flex-col lg:flex-row justify-content">
            <div class="flex items-center mx-24 lg:w-2/5 mr-10">
                <div class="relative">
                    {{> title text="What We Do" }}
                    <p class="py-8 text-lg font-sans"> Offering bespoke and tailored programs for Sportstech companies at all stages of
                        developments. </p>
                    {{> button text="Find out more" }}
                </div>
            </div>

            <div class="lg:w-3/5 flex m-10 lg:m-0 gap-5 overflow-x-auto">
                {{> carousel-content title="Lorem" icon="/assets/img/bulb.png" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veniam temporibus sunt tempora. Necessitatibus ratione, aspernatur consectetur dolor modi dignissimos consequatur saepe similique quas qui beatae totam eius ducimus asperiores!" }}
                {{> carousel-content title="Lorem" icon="/assets/img/bulb.png" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veniam temporibus sunt tempora. Necessitatibus ratione, aspernatur consectetur dolor modi dignissimos consequatur saepe similique quas qui beatae totam eius ducimus asperiores!" }}
                {{> carousel-content title="Lorem" icon="/assets/img/bulb.png" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veniam temporibus sunt tempora. Necessitatibus ratione, aspernatur consectetur dolor modi dignissimos consequatur saepe similique quas qui beatae totam eius ducimus asperiores!" }}
                {{> carousel-content title="Lorem" icon="/assets/img/bulb.png" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veniam temporibus sunt tempora. Necessitatibus ratione, aspernatur consectetur dolor modi dignissimos consequatur saepe similique quas qui beatae totam eius ducimus asperiores!" }}
            </div>
        </div>

        <div class="w-full flex gap-8 p-5 justify-center">
            <button class="w-5"> <img src="/assets/img/left-arrow.png"> </button>
            <button class="w-5"> <img src="/assets/img/right-arrow.png"> </button>
        </div>
    </div>
    </div>
</section>