<div class="w-64 flex-shrink-0 p-5 text-white bg-purple shadow-md">
    <img class="w-10 mb-2" src="{{ icon }}">
    <h5 class="uppercase font-heading text-2xl"> {{ title }} </h5>
    <p class="py-5 font-sans"> {{ text }} </p>
</div>