<div class="absolute w-[400px] left-0 top-0 bg-green h-14 ml-[-6rem]"></div>
<h1 class="relative font-heading font-bold uppercase text-black text-7xl mt-5">
    {{#if br}}
        {{{text}}}
    {{else}}
        {{text}}
    {{/if}}
</h1>