<!doctype html>
<html lang="en" class="motion-safe:scroll-smooth">
<head>
	<meta charset="utf-8">
	<title>Sports Tech Ireland</title>

	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>💫</text></svg>">

	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" href="https://use.typekit.net/zry7hor.css">
</head>
<body class="relative font-sans antialiased bg-white">

	{{> layout/header hover='true' }}

	{{#block "body"}}{{/block}}

	{{> layout/footer }}

	<script type="module" src="/assets/js/index.js"></script>
</body>
</html>
